VITE_COMPANY_PHONE=+55 (11) 1234-5678
VITE_COMPANY_EMAIL=contato@valemix.com.br
VITE_COMPANY_ADDRESS=Rua Exemplo, 123 - São Paulo, SP
VITE_COMPANY_WEBSITE=https://www.valemix.com.br
VITE_COMPANY_CONSULTOR_CONTACT=+55 (11) 9876-5432